#bootstrap-overrides .navbar-padding{
	/*padding: 0.5rem 5rem;*/
}

#bootstrap-overrides .idbox{
	width: 14rem;
}
#bootstrap-overrides .contentbox{
	width: 364px;
	height: 300px;
}

#myCarousel{
    height: 500px;
    margin: 0 auto;
}
.carousel-caption {
  transform: translateY(-60%);
  bottom: 0;
  top: 60%;
}
.myBox{
	widows: 250px;
	height: 250px;
	background-color: #fff;
	border-radius: 30px;
} 
.myBack{
	background-image: url("/escape/resources/img/tweed.png");
	width:100%;
	height:100%;
	
}
.myAlert{
	
}
.branchStore{
	background-color: #530101e3;
	border: 1px solid black;
	color: #fff;
}
.branchStore:hover{
	background-color: rgba(0, 0, 0, 0.411);
	transition: background-color 0.4s linear;
}
.branchStore h5{
	color: #fff;
}
.branchStore a{
	padding: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: black;
	color: #fff;
}
.branchStore div a{
	margin: 0;
}
hr.solid {
    border-top: 1px solid #ffffff;
}
.mainbg1{background: url('../img/main_img01.jpg') no-repeat 50% 50%; }
.mainbg2{background: url('../img/main_img02.jpg') no-repeat 50% 50%; }
.mainbg3{background: url('../img/main_img03.jpg') no-repeat 50% 50%; }


@media (max-width: 575.98px) { }


@media (max-width: 767.98px) {
.carousel-caption {
	  transform: translateY(-50%);
	  bottom: 0;
	  top: 50%;
	}		
}


@media (max-width: 991.98px) { 
	.carousel-caption {
	  transform: translateY(-55%);
	  bottom: 0;
	  top: 55%;
	}	
}


@media (max-width: 1199.98px) { }