<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">
	<select id="getTable" parameterType="timetableDto" resultType="timetableDto">
		SELECT *
		FROM res_state
		WHERE bname=#{bname} AND resdate=#{resdate}
		ORDER BY time ASC
	</select>
	
	<select id="getList" parameterType="timetableDto" resultType="timetableDto">
		SELECT *
		FROM res_state
		WHERE bname=#{bname} AND thema=#{thema} AND resdate=#{resdate}
		ORDER BY time ASC
	</select>
	
	<insert id="resInsert" parameterType="resinfoDto" >
		INSERT INTO res_info
		(res_no,res_name,resdate,bname,thema,phone,cost,personal)
		VALUES(#{res_no},#{res_name},#{resdate},#{bname},#{thema},#{phone},#{cost},#{personal}) 
	</insert>
</mapper>